body {
  font-family: ;
}

#main_content {
  width:800px;
  margin:0 auto;
}

header {
  text-align: center;
}

.team {
  width: 400px;
  height: 200px;
  margin: 30px;
  float: left;
}

.team1 {
  background-color: rgb(141, 52, 52);
  margin-left: 300px;
}

.team2 {
  background-color: rgb(133, 63, 133);
  margin-right: 250px;
}

footer {
  text-align: center;
}
